@font-face {
	font-family: 'AVGARDN';
	src: url('./AVGARDN.eot');
	src: local('AVGARDN'), url('./AVGARDN.woff') format('woff'), url('./AVGARDN.ttf') format('truetype');
}
/* use this class to attach this font to any element i.e. <p class="fontsforweb_fontid_2681">Text with this font applied</p> */
.fontsforweb_fontid_2681 {
	font-family: 'AVGARDN' !important;
}

/* Font downloaded from FontsForWeb.com */